body{
    margin: 0;
    padding: 0;
    background: url(image/bus.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

table {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	
	transition: all 0.2s ease;
	
	transform: translateX(-50%) translateY(-50%);
	
	background: #fff;
	
	padding: 20px;
}

.name {
	font-size: 30px;
	border-bottom: 2px solid #888;
	margin-bottom: 20px;
}
.name:first-letter {
	font-size: 300%;
}

.label {
	width: 70px;
	color: black;
	font-weight: bold;
}

.label,.id,.email {
	display: inline-block;
}

.details-td {
	border-right: 1px solid #eee;
	white-space: nowrap;
	
	padding: 20px;
	padding-right: 30px;
}


.description-td {
	position: relative;
	width: 100%;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	margin-top: 15px;
}
	.description {
		outline: 0px solid transparent;
		border: 0px solid transparent;
	}
